In [8]:
import sys
sys.path.append("..")

In [9]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [10]:
from src.dataset import HierarchicalDataset
import pandas as pd

In [11]:
"""
dataset = HierarchicalDataset(config_dir="../../config/catalog.yml", 
                              cases_dir="../../data/EU/COVID-19-up-to-date.csv", 
                              ifr_dir="../../data/EU/weighted_fatality.csv", 
                              serial_interval_dir="../../data/EU/serial_interval.csv", 
                              interventions_dir="../../data/EU/interventions.csv", num_covariates=7)
"""
print()

In [12]:
## HERE - don't call the class yet
## first, simply view each of the files
## then decide what to do next - what data is needed, what changes to the code need to happen

In [13]:
EuroCaseAndMortality = pd.read_csv("../../data/EU/COVID-19-up-to-date.csv", encoding="ISO-8859-1")

In [14]:
# fetch US county data; process to match this format
EuroCaseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [15]:
# fetch the JHU time-series data
# see: https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/README.md

jhu = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"

cases_csv = "time_series_covid19_confirmed_US.csv"
deaths_csv = "time_series_covid19_deaths_US.csv"

casesOrig = pd.read_csv(jhu + cases_csv)
deathsOrig = pd.read_csv(jhu + deaths_csv)

In [16]:
# 1. process cases df to match form of EU table
cases = casesOrig
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,167,170,171,172,172,172,175,175,177,179
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,22,22,22,22,22,22,22,23,24,26
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,3324,3397,3486,3647,3718,3776,3873,3935,4023,4508
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,69,69,69,69,69,69,70,70,70,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,33,33,34,38,38,38,38,38,39,39
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,21,23,23,23,24,24,24,26,26,26
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,330,335,360,386,423,440,454,476,498,524
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,20,20,20,18,20,21,21,20,20,20
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,272,273,276,288,293,298,303,308,316,330

In [17]:
# filter for IL
cases = cases.loc[cases["Province_State"] == "Illinois"]
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
600,84017001,US,USA,840,17001.0,Adams,Illinois,US,39.988156,-91.187868,...,44,44,44,44,44,44,44,44,44,44
601,84017003,US,USA,840,17003.0,Alexander,Illinois,US,37.180493,-89.329108,...,8,8,8,8,8,8,8,8,12,12
602,84017005,US,USA,840,17005.0,Bond,Illinois,US,38.888296,-89.435349,...,10,10,12,12,12,12,12,12,12,12
603,84017007,US,USA,840,17007.0,Boone,Illinois,US,42.323593,-88.823458,...,407,410,424,428,441,452,463,476,481,488
604,84017009,US,USA,840,17009.0,Brown,Illinois,US,39.962091,-90.750680,...,10,10,10,10,10,10,10,10,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,US,USA,840,17199.0,Williamson,Illinois,US,37.730335,-88.929940,...,54,57,60,64,66,67,67,68,71,74
700,84017201,US,USA,840,17201.0,Winnebago,Illinois,US,42.336419,-89.160853,...,1993,2001,2091,2156,2209,2251,2290,2313,2354,2397
701,84017203,US,USA,840,17203.0,Woodford,Illinois,US,40.785794,-89.209738,...,18,18,18,19,19,19,21,21,21,21
3160,84080017,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,177,205,183,119,118,118,118,115,120,119
3212,84090017,US,USA,840,90017.0,Unassigned,Illinois,US,0.000000,0.000000,...,120,110,149,125,80,85,93,147,105,84

In [18]:
# import matplotlib.pyplot as plt

In [19]:
# scratch
'''
# convert cumulative counts to daily counts
list(cases)[11:]

# df.loc[:, months].apply(lambda x: pd.algos.is_monotonic_float64(-x)[0], axis=1)

# chi = cases[cases["Admin2"] == "Cook"]
# chi.iloc[0,11:].is_monotonic
# chi.iloc[0,11:].plot()

# cases.iloc[:,11:].apply(lambda x: x.is_monotonic, axis=1)

# cases.iloc[:,11:]

# compute diffs
cases.iloc[:,11:].diff(axis=1, periods=1)

# the negative values are where errs/corrections are
# get location of all negative values
# in df, replace decreased count with previous column value


## here's one crude method, which would need to be fixed up to work recursively
ex = pd.DataFrame([1,2,3,3,1,2]).transpose()
errs = ex.diff(axis=1).lt(0).iloc[0, :]
drops = pd.Series(errs[errs].index.values)

ex[drops] = ex[drops-1]

'''
print()

In [20]:
# scratch
'''
# here, a better, itrative method
# go from left to right
ex = pd.DataFrame([1,2,3,3,1,2]).transpose()

for i in range(len(ex.columns)-1):
    if ex.iloc[0,i] > ex.iloc[0,i+1]:
        ex.iloc[0,i+1] = ex.iloc[0,i]

# ex
len(ex.iloc[0,:])
'''
print()

In [21]:
# first attempt -> get daily counts

# print(cases)

# take this out, put it back after compute
dc = cases.copy().iloc[:,11:]

## fix monotone errors

# rows
for i in range(len(dc.iloc[:,0])):
    # cols
    for j in range(len(dc.columns)-1):
        # per row:
        # if the next value is bigger than current value -> set next val to current val
        # ensures monotonically increasing sequences
        # allows coherent compute of daily counts (increments -> prevents negative increments)
        if dc.iloc[i,j] > dc.iloc[i,j+1]:
            dc.iloc[i,j+1] = dc.iloc[i,j]

# look, they're all monotone now!
print(dc.apply(lambda x: x.is_monotonic, axis=1).unique())

dailyCounts = cases.copy()

# replace cumulative counts with daily counts (i.e., increments)
dailyCounts.iloc[:,12:] = dc.diff(axis=1, periods=1).iloc[:,1:]

# take a look at cook (county)
dailyCounts[dailyCounts["Admin2"] == "Cook"]

[ True]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
615,84017031,US,USA,840,17031.0,Cook,Illinois,US,41.841448,-87.816588,...,722.0,702.0,785.0,960.0,853.0,806.0,570.0,1178.0,531.0,509.0

In [22]:
# treat the daily counts as our working table from here forward
# NOTE: need to do the same procedure for the death counts
cases = dailyCounts

In [23]:
# columns of EU data:
# dateRep	day	month	year	cases	deaths	countriesAndTerritories	geoId	countryterritoryCode	popData2018

In [24]:
# columns of IL data
list(cases)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20']

In [25]:
# notice from data repo readme:
# US counties: UID = 840 (country code3) + XXXXX (5-digit FIPS code)

# drop redundant columns
cases = cases.drop(cases.columns[[1,2,3,4,7,10]], axis=1)
cases

,UID,Admin2,Province_State,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
600,84017001,Adams,Illinois,39.988156,-91.187868,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
601,84017003,Alexander,Illinois,37.180493,-89.329108,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0
602,84017005,Bond,Illinois,38.888296,-89.435349,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
603,84017007,Boone,Illinois,42.323593,-88.823458,0,0.0,0.0,0.0,0.0,...,10.0,3.0,14.0,4.0,13.0,11.0,11.0,13.0,5.0,7.0
604,84017009,Brown,Illinois,39.962091,-90.750680,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,Williamson,Illinois,37.730335,-88.929940,0,0.0,0.0,0.0,0.0,...,0.0,2.0,3.0,4.0,2.0,1.0,0.0,1.0,3.0,3.0
700,84017201,Winnebago,Illinois,42.336419,-89.160853,0,0.0,0.0,0.0,0.0,...,40.0,8.0,90.0,65.0,53.0,42.0,39.0,23.0,41.0,43.0
701,84017203,Woodford,Illinois,40.785794,-89.209738,0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0
3160,84080017,Out of IL,Illinois,0.000000,0.000000,0,0.0,0.0,0.0,0.0,...,13.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3212,84090017,Unassigned,Illinois,0.000000,0.000000,0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
# "melt" df into desired form
# i.e., rows correspond to dates

idVars = ["UID", "Admin2", "Province_State", "Lat", "Long_"]
cases = cases.melt(id_vars=idVars, var_name="Date", value_name="Cases")
cases

,UID,Admin2,Province_State,Lat,Long_,Date,Cases
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0.0
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0.0
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0.0
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0.0
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0.0
...,...,...,...,...,...,...,...
14035,84017199,Williamson,Illinois,37.730335,-88.929940,6/4/20,3.0
14036,84017201,Winnebago,Illinois,42.336419,-89.160853,6/4/20,43.0
14037,84017203,Woodford,Illinois,40.785794,-89.209738,6/4/20,0.0
14038,84080017,Out of IL,Illinois,0.000000,0.000000,6/4/20,0.0
14039,84090017,Unassigned,Illinois,0.000000,0.000000,6/4/20,0.0

In [27]:
# look at Euro data again, just to compare
EuroCaseAndMortality.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0

In [28]:
# okay looks like we have all the information, and pretty close to the form we want
# needed:
# 1. population by-county (probably will worry about this later..)
# 2. deaths -> process other jhu dataset, hopefully in exactly the same way as the cases dataset
# 3. split date into separate columns, map our columns to theirs

# define mapping from our df to theirs
# first just map the data
# then can fix column names and python etl code accordingly

In [29]:
# now, process deaths data, see if we can take the same path to the same outcome

In [30]:
# 2. process deaths data
deaths = deathsOrig
deaths

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,16,16
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,129,129,131,132,133,136,136,138,140,140
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,6,6,6,6,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,0,0,0,0,0,0,0,0,0,0
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,0,0,0,0,0,0,0,0,0,0
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,4,4,4,4,4,4,4,4,4,4
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,0,0,0,0,0,0,0,0,0,0
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,4,6,5,5,7,7,7,7,7,7

In [31]:
# view columns diff between the df's
# see that the deaths table contains all the exact same fields as the cases table
# and it contains an extra column containing population data per county
# which is nice, because we need that information

# set(list(casesOrig)).difference(set(list(deathsOrig)))

set(list(deathsOrig)).difference(set(list(casesOrig)))

{'Population'}

In [32]:
list(deathsOrig)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 'Population',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20',
 '5/18/20',
 '5/19/20',
 '5/20/20',
 '5/21/20',
 '5/22/20',
 '5/23/20',
 '5/24/20',
 '5/25/20',
 '5/26/20',
 '5/27/20',
 '5/28/20',
 '5/29/20',
 '5/30/20',
 '5/31/20',
 '6/1/20',
 '6/2/20',
 '6/3/20',
 '6/4/20']

In [33]:
# filter for Illinois
deaths = deaths.loc[deaths["Province_State"] == "Illinois"]
deaths

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
600,84017001,US,USA,840,17001.0,Adams,Illinois,US,39.988156,-91.187868,...,1,1,1,1,1,1,1,1,1,1
601,84017003,US,USA,840,17003.0,Alexander,Illinois,US,37.180493,-89.329108,...,0,0,0,0,0,0,0,0,0,0
602,84017005,US,USA,840,17005.0,Bond,Illinois,US,38.888296,-89.435349,...,1,1,1,1,1,1,1,1,1,1
603,84017007,US,USA,840,17007.0,Boone,Illinois,US,42.323593,-88.823458,...,16,16,16,17,17,17,17,17,17,17
604,84017009,US,USA,840,17009.0,Brown,Illinois,US,39.962091,-90.750680,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,US,USA,840,17199.0,Williamson,Illinois,US,37.730335,-88.929940,...,1,2,2,2,1,2,2,2,2,3
700,84017201,US,USA,840,17201.0,Winnebago,Illinois,US,42.336419,-89.160853,...,51,52,53,54,55,55,55,56,57,61
701,84017203,US,USA,840,17203.0,Woodford,Illinois,US,40.785794,-89.209738,...,2,2,2,2,2,2,2,2,2,2
3162,84080017,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,1,1,1,1,1,1,1,1,1,1
3214,84090017,US,USA,840,90017.0,Unassigned,Illinois,US,0.000000,0.000000,...,0,0,0,0,0,0,0,0,0,0

In [34]:
# HERE! -> compute increments from cumulative counts - same steps as case table

# print(deaths)

# take this out, put it back after compute
# note: this table has "population" column - 1 additional column, so dates start at 12, not 11
dc = deaths.copy().iloc[:,12:]

## fix monotone errors

# rows
for i in range(len(dc.iloc[:,0])):
    # cols
    for j in range(len(dc.columns)-1):
        if dc.iloc[i,j] > dc.iloc[i,j+1]:
            dc.iloc[i,j+1] = dc.iloc[i,j]

# look, they're all monotone now!
print(dc.apply(lambda x: x.is_monotonic, axis=1).unique())

dailyCounts = deaths.copy()

# replace cumulative counts with daily counts (i.e., increments)
dailyCounts.iloc[:,13:] = dc.diff(axis=1, periods=1).iloc[:,1:]

# take a look at cook (county)
dailyCounts[dailyCounts["Admin2"] == "Cook"]

[ True]

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
615,84017031,US,USA,840,17031.0,Cook,Illinois,US,41.841448,-87.816588,...,30.0,101.0,64.0,51.0,33.0,39.0,16.0,68.0,54.0,66.0

In [35]:
# now working with daily deaths, not cumulative deaths
deaths = dailyCounts

In [36]:
# drop redundant columns -> keep population column
deaths = deaths.drop(deaths.columns[[1,2,3,4,7,10]], axis=1)
deaths

,UID,Admin2,Province_State,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,5/26/20,5/27/20,5/28/20,5/29/20,5/30/20,5/31/20,6/1/20,6/2/20,6/3/20,6/4/20
600,84017001,Adams,Illinois,39.988156,-91.187868,65435,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
601,84017003,Alexander,Illinois,37.180493,-89.329108,5761,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
602,84017005,Bond,Illinois,38.888296,-89.435349,16426,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
603,84017007,Boone,Illinois,42.323593,-88.823458,53544,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
604,84017009,Brown,Illinois,39.962091,-90.750680,6578,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,Williamson,Illinois,37.730335,-88.929940,66597,0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
700,84017201,Winnebago,Illinois,42.336419,-89.160853,282572,0,0.0,0.0,0.0,...,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,4.0
701,84017203,Woodford,Illinois,40.785794,-89.209738,38459,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3162,84080017,Out of IL,Illinois,0.000000,0.000000,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3214,84090017,Unassigned,Illinois,0.000000,0.000000,0,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# "melt" df into desired form
# i.e., rows correspond to dates

idVars = ["UID", "Admin2", "Province_State", "Lat", "Long_", "Population"]
deaths = deaths.melt(id_vars=idVars, var_name="Date", value_name="Deaths")
deaths

,UID,Admin2,Province_State,Lat,Long_,Population,Date,Deaths
0,84017001,Adams,Illinois,39.988156,-91.187868,65435,1/22/20,0.0
1,84017003,Alexander,Illinois,37.180493,-89.329108,5761,1/22/20,0.0
2,84017005,Bond,Illinois,38.888296,-89.435349,16426,1/22/20,0.0
3,84017007,Boone,Illinois,42.323593,-88.823458,53544,1/22/20,0.0
4,84017009,Brown,Illinois,39.962091,-90.750680,6578,1/22/20,0.0
...,...,...,...,...,...,...,...,...
14035,84017199,Williamson,Illinois,37.730335,-88.929940,66597,6/4/20,1.0
14036,84017201,Winnebago,Illinois,42.336419,-89.160853,282572,6/4/20,4.0
14037,84017203,Woodford,Illinois,40.785794,-89.209738,38459,6/4/20,0.0
14038,84080017,Out of IL,Illinois,0.000000,0.000000,0,6/4/20,0.0
14039,84090017,Unassigned,Illinois,0.000000,0.000000,0,6/4/20,0.0

In [38]:
# NOTE: processing of the two tables is exactly the same except
# for the deaths table having the extra ID column "Population"
# so can refactor/streamline code to make it concise and much prettier

# next task: "merge" the deaths and cases tables

In [39]:
# danke: https://stackoverflow.com/questions/19125091/pandas-merge-how-to-avoid-duplicating-columns

# merge df's
# i.e., inject population and deaths data from deaths df into cases df

cols_to_use = deaths.columns.difference(cases.columns)
ILCaseAndMortality = pd.merge(cases, deaths[cols_to_use], left_index=True, right_index=True, how="outer")

ILCaseAndMortality

,UID,Admin2,Province_State,Lat,Long_,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0.0,0.0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0.0,0.0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0.0,0.0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0.0,0.0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0.0,0.0,6578
...,...,...,...,...,...,...,...,...,...
14035,84017199,Williamson,Illinois,37.730335,-88.929940,6/4/20,3.0,1.0,66597
14036,84017201,Winnebago,Illinois,42.336419,-89.160853,6/4/20,43.0,4.0,282572
14037,84017203,Woodford,Illinois,40.785794,-89.209738,6/4/20,0.0,0.0,38459
14038,84080017,Out of IL,Illinois,0.000000,0.000000,6/4/20,0.0,0.0,0
14039,84090017,Unassigned,Illinois,0.000000,0.000000,6/4/20,0.0,0.0,0

In [40]:
# look at the columns we have
list(ILCaseAndMortality)

['UID',
 'Admin2',
 'Province_State',
 'Lat',
 'Long_',
 'Date',
 'Cases',
 'Deaths',
 'Population']

In [41]:
# again look at the columns of the original Euro table
list(EuroCaseAndMortality)

['dateRep',
 'day',
 'month',
 'year',
 'cases',
 'deaths',
 'countriesAndTerritories',
 'geoId',
 'countryterritoryCode',
 'popData2018']

In [42]:
# next tasks:
# 1. sort/make nice the IL table, and save this final transformed table
# 2. using the transformed IL data -> map to Euro table scheme
# 2.5. refactor.
# 3. with Euro scheme IL table -> try running the model, making as few code changes as possible

In [43]:
# cut out rows where Admin2 is "Out of IL" or "Unassigned" (both have population 0)
ILCaseAndMortality = ILCaseAndMortality.loc[ILCaseAndMortality["Population"] > 0]
ILCaseAndMortality

,UID,Admin2,Province_State,Lat,Long_,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0.0,0.0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0.0,0.0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0.0,0.0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0.0,0.0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0.0,0.0,6578
...,...,...,...,...,...,...,...,...,...
14033,84017195,Whiteside,Illinois,41.755097,-89.915561,6/4/20,3.0,0.0,55175
14034,84017197,Will,Illinois,41.446193,-87.978627,6/4/20,38.0,2.0,690743
14035,84017199,Williamson,Illinois,37.730335,-88.929940,6/4/20,3.0,1.0,66597
14036,84017201,Winnebago,Illinois,42.336419,-89.160853,6/4/20,43.0,4.0,282572
14037,84017203,Woodford,Illinois,40.785794,-89.209738,6/4/20,0.0,0.0,38459

In [44]:
# rename some columns; improve readability

renameColsMap = {
    "UID": "CountyID", # fairly certain this is appropriate, though will double check
    "Admin2": "Town", # ? -> probably a better name for this
    "Province_State": "State",
    "Lat": "Latitude",
    "Long_": "Longitude"
}
ILCaseAndMortality = ILCaseAndMortality.rename(renameColsMap, axis=1)

ILCaseAndMortality

,CountyID,Town,State,Latitude,Longitude,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0.0,0.0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0.0,0.0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0.0,0.0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0.0,0.0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0.0,0.0,6578
...,...,...,...,...,...,...,...,...,...
14033,84017195,Whiteside,Illinois,41.755097,-89.915561,6/4/20,3.0,0.0,55175
14034,84017197,Will,Illinois,41.446193,-87.978627,6/4/20,38.0,2.0,690743
14035,84017199,Williamson,Illinois,37.730335,-88.929940,6/4/20,3.0,1.0,66597
14036,84017201,Winnebago,Illinois,42.336419,-89.160853,6/4/20,43.0,4.0,282572
14037,84017203,Woodford,Illinois,40.785794,-89.209738,6/4/20,0.0,0.0,38459

In [45]:
EuroCaseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [46]:
# now order the columns nicely
columnOrder = [
    "Date",
    "Cases",
    "Deaths",
    "CountyID",
    "Town",
    "State",
    "Population",
    "Latitude",
    "Longitude"
]

ILCaseAndMortality = ILCaseAndMortality[columnOrder]
ILCaseAndMortality

,Date,Cases,Deaths,CountyID,Town,State,Population,Latitude,Longitude
0,1/22/20,0.0,0.0,84017001,Adams,Illinois,65435,39.988156,-91.187868
1,1/22/20,0.0,0.0,84017003,Alexander,Illinois,5761,37.180493,-89.329108
2,1/22/20,0.0,0.0,84017005,Bond,Illinois,16426,38.888296,-89.435349
3,1/22/20,0.0,0.0,84017007,Boone,Illinois,53544,42.323593,-88.823458
4,1/22/20,0.0,0.0,84017009,Brown,Illinois,6578,39.962091,-90.750680
...,...,...,...,...,...,...,...,...,...
14033,6/4/20,3.0,0.0,84017195,Whiteside,Illinois,55175,41.755097,-89.915561
14034,6/4/20,38.0,2.0,84017197,Will,Illinois,690743,41.446193,-87.978627
14035,6/4/20,3.0,1.0,84017199,Williamson,Illinois,66597,37.730335,-88.929940
14036,6/4/20,43.0,4.0,84017201,Winnebago,Illinois,282572,42.336419,-89.160853
14037,6/4/20,0.0,0.0,84017203,Woodford,Illinois,38459,40.785794,-89.209738

In [47]:
# looks good -> save it
ILCaseAndMortality.to_csv("ILCaseAndMortality.csv")

In [48]:
# next: 
# 1. preserving this table; modify this table to exactly match the scheme of the Euro table
# 2. save that as a separate file
# 3. run the model with that table as input
# 4. when it doesn't work, make as few code changes as possible to get it to work
# 5. save/note initial results
# 6. refactor all this; sketch plan for actual script(s)

In [49]:
df = ILCaseAndMortality.copy()
df

,Date,Cases,Deaths,CountyID,Town,State,Population,Latitude,Longitude
0,1/22/20,0.0,0.0,84017001,Adams,Illinois,65435,39.988156,-91.187868
1,1/22/20,0.0,0.0,84017003,Alexander,Illinois,5761,37.180493,-89.329108
2,1/22/20,0.0,0.0,84017005,Bond,Illinois,16426,38.888296,-89.435349
3,1/22/20,0.0,0.0,84017007,Boone,Illinois,53544,42.323593,-88.823458
4,1/22/20,0.0,0.0,84017009,Brown,Illinois,6578,39.962091,-90.750680
...,...,...,...,...,...,...,...,...,...
14033,6/4/20,3.0,0.0,84017195,Whiteside,Illinois,55175,41.755097,-89.915561
14034,6/4/20,38.0,2.0,84017197,Will,Illinois,690743,41.446193,-87.978627
14035,6/4/20,3.0,1.0,84017199,Williamson,Illinois,66597,37.730335,-88.929940
14036,6/4/20,43.0,4.0,84017201,Winnebago,Illinois,282572,42.336419,-89.160853
14037,6/4/20,0.0,0.0,84017203,Woodford,Illinois,38459,40.785794,-89.209738

In [50]:
EuroCaseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [51]:
# df['A'], df['B'] = df['AB'].str.split(' ', 1).str

df["month"], df["day"], df["year"] = df["Date"].str.split("/").str
df

<ipython-input-51-5419acec991b>:3: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df["month"], df["day"], df["year"] = df["Date"].str.split("/").str

,Date,Cases,Deaths,CountyID,Town,State,Population,Latitude,Longitude,month,day,year
0,1/22/20,0.0,0.0,84017001,Adams,Illinois,65435,39.988156,-91.187868,1,22,20
1,1/22/20,0.0,0.0,84017003,Alexander,Illinois,5761,37.180493,-89.329108,1,22,20
2,1/22/20,0.0,0.0,84017005,Bond,Illinois,16426,38.888296,-89.435349,1,22,20
3,1/22/20,0.0,0.0,84017007,Boone,Illinois,53544,42.323593,-88.823458,1,22,20
4,1/22/20,0.0,0.0,84017009,Brown,Illinois,6578,39.962091,-90.750680,1,22,20
...,...,...,...,...,...,...,...,...,...,...,...,...
14033,6/4/20,3.0,0.0,84017195,Whiteside,Illinois,55175,41.755097,-89.915561,6,4,20
14034,6/4/20,38.0,2.0,84017197,Will,Illinois,690743,41.446193,-87.978627,6,4,20
14035,6/4/20,3.0,1.0,84017199,Williamson,Illinois,66597,37.730335,-88.929940,6,4,20
14036,6/4/20,43.0,4.0,84017201,Winnebago,Illinois,282572,42.336419,-89.160853,6,4,20
14037,6/4/20,0.0,0.0,84017203,Woodford,Illinois,38459,40.785794,-89.209738,6,4,20

In [52]:
list(EuroCaseAndMortality)

['dateRep',
 'day',
 'month',
 'year',
 'cases',
 'deaths',
 'countriesAndTerritories',
 'geoId',
 'countryterritoryCode',
 'popData2018']

In [53]:
# drop extra columns
df = df.drop(["State", "Latitude", "Longitude"], axis=1)
df

          Date  Cases  Deaths  CountyID        Town  Population month day year
0      1/22/20    0.0     0.0  84017001       Adams       65435     1  22   20
1      1/22/20    0.0     0.0  84017003   Alexander        5761     1  22   20
2      1/22/20    0.0     0.0  84017005        Bond       16426     1  22   20
3      1/22/20    0.0     0.0  84017007       Boone       53544     1  22   20
4      1/22/20    0.0     0.0  84017009       Brown        6578     1  22   20
...        ...    ...     ...       ...         ...         ...   ...  ..  ...
14033   6/4/20    3.0     0.0  84017195   Whiteside       55175     6   4   20
14034   6/4/20   38.0     2.0  84017197        Will      690743     6   4   20
14035   6/4/20    3.0     1.0  84017199  Williamson       66597     6   4   20
14036   6/4/20   43.0     4.0  84017201   Winnebago      282572     6   4   20
14037   6/4/20    0.0     0.0  84017203    Woodford       38459     6   4   20

[13770 rows x 9 columns]

In [54]:
# rename remaining columns to match Euro table
ToEuroColumnsMap = {
    "Date": "dateRep",
    "Cases": "cases",
    "Deaths": "deaths",
    "CountyID": "countryterritoryCode", # ?
    "Town": "countriesAndTerritories", # ?
    "Population": "popData2018",
}

df = df.rename(ToEuroColumnsMap, axis=1)
df

,dateRep,cases,deaths,countryterritoryCode,countriesAndTerritories,popData2018,month,day,year
0,1/22/20,0.0,0.0,84017001,Adams,65435,1,22,20
1,1/22/20,0.0,0.0,84017003,Alexander,5761,1,22,20
2,1/22/20,0.0,0.0,84017005,Bond,16426,1,22,20
3,1/22/20,0.0,0.0,84017007,Boone,53544,1,22,20
4,1/22/20,0.0,0.0,84017009,Brown,6578,1,22,20
...,...,...,...,...,...,...,...,...,...
14033,6/4/20,3.0,0.0,84017195,Whiteside,55175,6,4,20
14034,6/4/20,38.0,2.0,84017197,Will,690743,6,4,20
14035,6/4/20,3.0,1.0,84017199,Williamson,66597,6,4,20
14036,6/4/20,43.0,4.0,84017201,Winnebago,282572,6,4,20
14037,6/4/20,0.0,0.0,84017203,Woodford,38459,6,4,20

In [55]:
# populate geoID with Town also, just to populate it
df["geoId"] = df["countriesAndTerritories"]
df

,dateRep,cases,deaths,countryterritoryCode,countriesAndTerritories,popData2018,month,day,year,geoId
0,1/22/20,0.0,0.0,84017001,Adams,65435,1,22,20,Adams
1,1/22/20,0.0,0.0,84017003,Alexander,5761,1,22,20,Alexander
2,1/22/20,0.0,0.0,84017005,Bond,16426,1,22,20,Bond
3,1/22/20,0.0,0.0,84017007,Boone,53544,1,22,20,Boone
4,1/22/20,0.0,0.0,84017009,Brown,6578,1,22,20,Brown
...,...,...,...,...,...,...,...,...,...,...
14033,6/4/20,3.0,0.0,84017195,Whiteside,55175,6,4,20,Whiteside
14034,6/4/20,38.0,2.0,84017197,Will,690743,6,4,20,Will
14035,6/4/20,3.0,1.0,84017199,Williamson,66597,6,4,20,Williamson
14036,6/4/20,43.0,4.0,84017201,Winnebago,282572,6,4,20,Winnebago
14037,6/4/20,0.0,0.0,84017203,Woodford,38459,6,4,20,Woodford

In [56]:
# reorder the columns to match Euro table
df = df[list(EuroCaseAndMortality)]
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,1/22/20,22,1,20,0.0,0.0,Adams,Adams,84017001,65435
1,1/22/20,22,1,20,0.0,0.0,Alexander,Alexander,84017003,5761
2,1/22/20,22,1,20,0.0,0.0,Bond,Bond,84017005,16426
3,1/22/20,22,1,20,0.0,0.0,Boone,Boone,84017007,53544
4,1/22/20,22,1,20,0.0,0.0,Brown,Brown,84017009,6578
...,...,...,...,...,...,...,...,...,...,...
14033,6/4/20,4,6,20,3.0,0.0,Whiteside,Whiteside,84017195,55175
14034,6/4/20,4,6,20,38.0,2.0,Will,Will,84017197,690743
14035,6/4/20,4,6,20,3.0,1.0,Williamson,Williamson,84017199,66597
14036,6/4/20,4,6,20,43.0,4.0,Winnebago,Winnebago,84017201,282572
14037,6/4/20,4,6,20,0.0,0.0,Woodford,Woodford,84017203,38459

In [57]:
# okay, done, now save it
df.to_csv("ILCaseAndMortalityInputV1.csv")

In [58]:
# a = df['A'].unique()
countyIDList = df["countryterritoryCode"].unique()
countyIDList

array([84017001, 84017003, 84017005, 84017007, 84017009, 84017011,
       84017013, 84017015, 84017017, 84017019, 84017021, 84017023,
       84017025, 84017027, 84017029, 84017031, 84017033, 84017035,
       84017037, 84017039, 84017041, 84017043, 84017045, 84017047,
       84017049, 84017051, 84017053, 84017055, 84017057, 84017059,
       84017061, 84017063, 84017065, 84017067, 84017069, 84017071,
       84017073, 84017075, 84017077, 84017079, 84017081, 84017083,
       84017085, 84017087, 84017089, 84017091, 84017093, 84017095,
       84017097, 84017099, 84017101, 84017103, 84017105, 84017107,
       84017109, 84017111, 84017113, 84017115, 84017117, 84017119,
       84017121, 84017123, 84017125, 84017127, 84017129, 84017131,
       84017133, 84017135, 84017137, 84017139, 84017141, 84017143,
       84017145, 84017147, 84017149, 84017151, 84017153, 84017155,
       84017157, 84017159, 84017161, 84017163, 84017165, 84017167,
       84017169, 84017171, 84017173, 84017175, 84017177, 84017179,
       84017181, 84017183, 84017185, 84017187, 84017189, 84017191,
       84017193, 84017195, 84017197, 84017199, 84017201, 84017203])

In [59]:
# their "covariates" table
theirCovariates = pd.read_csv("theirFinalCovariatesTable.csv")

In [60]:
theirCovariates

     Unnamed: 0  Unnamed: 0.1   Country    lockdown
0             0             0  84017001  2020-03-21
1             1             1  84017003  2020-03-21
2             2             2  84017005  2020-03-21
3             3             3  84017007  2020-03-21
4             4             4  84017009  2020-03-21
..          ...           ...       ...         ...
97           97            97  84017195  2020-03-21
98           98            98  84017197  2020-03-21
99           99            99  84017199  2020-03-21
100         100           100  84017201  2020-03-21
101         101           101  84017203  2020-03-21

[102 rows x 4 columns]

In [61]:
# task: make a table for IL by county that looks like this
# only column is lockdown
# dates for all counties the same
# admittedly a dumb table for now, but will get extended later

theirInitCovariates = pd.read_csv("../../data/EU/interventions.csv")

In [62]:
theirInitCovariates

,Country,schools_universities,travel_restrictions,public_events,sport,lockdown,social_distancing_encouraged,self_isolating_if_ill,Unnamed: 8,Data inputted by,...,Enter your github username below,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,startdate
0,Austria,2020-03-14,2020-03-13,2020-03-10,2020-03-15,2020-03-16,2020-03-16,2020-03-16,NaN,Michaela,...,ettieunwin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-15
1,Belgium,2020-03-14,2020-03-19,2020-03-12,2020-03-14,2020-03-18,2020-03-14,2020-03-10,NaN,Tresnia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-14
2,Denmark,2020-03-13,2020-03-13,2020-03-12,2020-03-12,2020-03-18,2020-03-13,2020-03-12,NaN,Michaela + Helen,...,hcoupland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-16
3,France,2020-03-14,2020-03-17,2020-03-13,2020-02-13,2020-03-17,2020-03-16,2020-03-16,NaN,Ettie,...,harrisonzhu508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-13
4,Germany,2020-03-14,2020-03-16,2020-03-22,2020-03-13,2020-03-22,2020-03-12,2020-03-06,NaN,Ettie,...,Tresnia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-03-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,Saarland,991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,Bremen 683,683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,NaN,83021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,"0,2185712049",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# their code

'''



        # pick out the covariates for the countries
        # num_covariates+1 because we need the Country index column too

        covariates = covariates.iloc[:11, : num_covariates + 1]
        
        self.covariate_names = list(covariates.columns)[1:]
        
        ---

        # convert the dates to datetime
        for covariate_name in self.covariate_names:
            covariates[covariate_name] = covariates[covariate_name].apply(
                pd.to_datetime, format="%Y-%m-%d"
            )

        # making all covariates that happen after lockdown to have same date as lockdown
        # M: can rip this out
        non_lockdown_covariates = self.covariate_names.copy()
        non_lockdown_covariates.remove("lockdown")

        print("covariate names:")
        for covariate_name in non_lockdown_covariates:
            print(covariate_name)
            ind = covariates[covariate_name] > covariates["lockdown"]
            covariates[covariate_name][ind] = covariates["lockdown"][ind]

        self.covariates = covariates
'''
print()

In [64]:
covariates = theirInitCovariates.copy()
num_covariates = 7
covariates = covariates.iloc[:11, : num_covariates + 1]
covariates

,Country,schools_universities,travel_restrictions,public_events,sport,lockdown,social_distancing_encouraged,self_isolating_if_ill
0,Austria,2020-03-14,2020-03-13,2020-03-10,2020-03-15,2020-03-16,2020-03-16,2020-03-16
1,Belgium,2020-03-14,2020-03-19,2020-03-12,2020-03-14,2020-03-18,2020-03-14,2020-03-10
2,Denmark,2020-03-13,2020-03-13,2020-03-12,2020-03-12,2020-03-18,2020-03-13,2020-03-12
3,France,2020-03-14,2020-03-17,2020-03-13,2020-02-13,2020-03-17,2020-03-16,2020-03-16
4,Germany,2020-03-14,2020-03-16,2020-03-22,2020-03-13,2020-03-22,2020-03-12,2020-03-06
5,Italy,2020-03-05,2020-03-09,2020-03-09,2020-03-09,2020-03-11,2020-03-09,2020-03-09
6,Norway,2020-03-13,2020-03-13,2020-03-12,2020-03-13,2020-03-24,2020-03-16,2020-03-15
7,Spain,2020-03-13,2020-03-12,2020-03-14,2020-03-13,2020-03-14,2020-03-09,2020-03-17
8,Sweden,2020-3-18,2020-03-19,2020-03-12,2020-03-12,2090-03-21,2020-03-16,2020-03-10
9,Switzerland,2020-03-14,2020-03-18,2020-03-13,2020-03-16,2020-03-20,2020-03-16,2020-03-02
10,United_Kingdom,2020-03-21,2020-03-24,2020-03-24,2020-03-13,2020-03-24,2020-03-16,2020-03-12

In [65]:
covariate_names = list(covariates.columns)[1:]
covariate_names

['schools_universities',
 'travel_restrictions',
 'public_events',
 'sport',
 'lockdown',
 'social_distancing_encouraged',
 'self_isolating_if_ill']

In [66]:
theirCovariates

     Unnamed: 0  Unnamed: 0.1   Country    lockdown
0             0             0  84017001  2020-03-21
1             1             1  84017003  2020-03-21
2             2             2  84017005  2020-03-21
3             3             3  84017007  2020-03-21
4             4             4  84017009  2020-03-21
..          ...           ...       ...         ...
97           97            97  84017195  2020-03-21
98           98            98  84017197  2020-03-21
99           99            99  84017199  2020-03-21
100         100           100  84017201  2020-03-21
101         101           101  84017203  2020-03-21

[102 rows x 4 columns]

In [67]:
# counties correspond to countries
ourCovariates = pd.DataFrame(ILCaseAndMortality["CountyID"].unique(), columns=["Country"])
ourCovariates

      Country
0    84017001
1    84017003
2    84017005
3    84017007
4    84017009
..        ...
97   84017195
98   84017197
99   84017199
100  84017201
101  84017203

[102 rows x 1 columns]

In [68]:
# date of IL lockdown: Saturday, March 21st, 2020
# source: https://www.chicagotribune.com/coronavirus/ct-coronavirus-illinois-shelter-in-place-lockdown-order-20200320-teedakbfw5gvdgmnaxlel54hau-story.html
ourCovariates["lockdown"] = "2020-03-21"
ourCovariates

      Country    lockdown
0    84017001  2020-03-21
1    84017003  2020-03-21
2    84017005  2020-03-21
3    84017007  2020-03-21
4    84017009  2020-03-21
..        ...         ...
97   84017195  2020-03-21
98   84017197  2020-03-21
99   84017199  2020-03-21
100  84017201  2020-03-21
101  84017203  2020-03-21

[102 rows x 2 columns]

In [69]:
# save this new table
ourCovariates.to_csv("ILInterventions.csv")

In [70]:
## HERE - next task: handle/adapt IFR and Serial Interval Tables
# then, onward to the STAN interface.

In [71]:
# first tackling ifr
ifr = pd.read_csv("../../data/EU/weighted_fatality.csv", parse_dates=False)

In [72]:

# wow there's a mistake
# "Oct-19" should be "10-19" -> it got parsed as a date by pandas
# the actual csv has this error as well though, so..
# we can make this right
ifr

,Unnamed: 0,"Region, subregion, country or area *",0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality,population
0,3345,Denmark,606.029,675.948,775.962,672.290,738.207,810.126,654.530,586.138,272.973,0.008792,5792.203
1,3450,Norway,614.323,643.031,726.383,738.724,724.930,712.508,586.156,446.448,228.739,0.007924,5421.242
2,3465,Sweden,1193.951,1127.127,1276.930,1320.299,1264.123,1296.647,1093.868,994.244,532.081,0.008856,10099.270
3,3480,United Kingdom,8044.056,7642.473,8558.707,9295.024,8604.251,9173.465,7286.777,5830.635,3450.616,0.009185,67886.004
4,3570,Italy,4994.995,5733.448,6103.436,6998.434,9022.004,9567.192,7484.862,6028.908,4528.549,0.010893,60461.828
5,3675,Spain,4234.487,4736.077,4617.599,5901.993,7938.499,7046.327,5340.654,4015.306,2923.841,0.009262,46754.783
6,3705,Austria,874.182,876.208,1115.377,1243.416,1178.265,1407.000,1033.320,790.437,488.195,0.008967,9006.400
7,3720,Belgium,1302.703,1312.251,1386.085,1503.997,1518.439,1598.741,1369.876,939.413,658.111,0.009818,11589.616
8,3735,France,7527.474,7883.477,7371.029,8011.050,8325.667,8635.057,7764.786,5727.704,4027.268,0.011526,65273.512
9,3750,Germany,7880.904,7930.616,9377.361,10872.020,10243.351,13488.393,10644.142,7471.414,5875.744,0.010928,83783.945
10,3795,Switzerland,884.945,834.867,1039.729,1219.224,1166.588,1320.622,977.435,751.993,459.215,0.008815,8654.618

In [73]:
ifr["country"] = ifr.iloc[:, 1]
ifr

,Unnamed: 0,"Region, subregion, country or area *",0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality,population,country
0,3345,Denmark,606.029,675.948,775.962,672.290,738.207,810.126,654.530,586.138,272.973,0.008792,5792.203,Denmark
1,3450,Norway,614.323,643.031,726.383,738.724,724.930,712.508,586.156,446.448,228.739,0.007924,5421.242,Norway
2,3465,Sweden,1193.951,1127.127,1276.930,1320.299,1264.123,1296.647,1093.868,994.244,532.081,0.008856,10099.270,Sweden
3,3480,United Kingdom,8044.056,7642.473,8558.707,9295.024,8604.251,9173.465,7286.777,5830.635,3450.616,0.009185,67886.004,United Kingdom
4,3570,Italy,4994.995,5733.448,6103.436,6998.434,9022.004,9567.192,7484.862,6028.908,4528.549,0.010893,60461.828,Italy
5,3675,Spain,4234.487,4736.077,4617.599,5901.993,7938.499,7046.327,5340.654,4015.306,2923.841,0.009262,46754.783,Spain
6,3705,Austria,874.182,876.208,1115.377,1243.416,1178.265,1407.000,1033.320,790.437,488.195,0.008967,9006.400,Austria
7,3720,Belgium,1302.703,1312.251,1386.085,1503.997,1518.439,1598.741,1369.876,939.413,658.111,0.009818,11589.616,Belgium
8,3735,France,7527.474,7883.477,7371.029,8011.050,8325.667,8635.057,7764.786,5727.704,4027.268,0.011526,65273.512,France
9,3750,Germany,7880.904,7930.616,9377.361,10872.020,10243.351,13488.393,10644.142,7471.414,5875.744,0.010928,83783.945,Germany
10,3795,Switzerland,884.945,834.867,1039.729,1219.224,1166.588,1320.622,977.435,751.993,459.215,0.008815,8654.618,Switzerland

In [74]:
ourIFR = ILCaseAndMortality[["CountyID", "Population"]].copy().drop_duplicates()
ourIFR

     CountyID  Population
0    84017001       65435
1    84017003        5761
2    84017005       16426
3    84017007       53544
4    84017009        6578
..        ...         ...
97   84017195       55175
98   84017197      690743
99   84017199       66597
100  84017201      282572
101  84017203       38459

[102 rows x 2 columns]

In [75]:
# now need:
# 1. fatality ratio per stratum (?)
# 2. relative frequency pre stratum
# for now, all counties will be treated the same - same age strata rel freq, same fatality ratio

# here are their euro age distributions by country
relFreq = ifr[["0-9", "Oct-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+", "population"]].div(ifr["population"], axis=0)
relFreq

,0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,population
0,0.104628,0.116700,0.133967,0.116068,0.127448,0.139865,0.113002,0.101194,0.047128,1.0
1,0.113318,0.118613,0.133988,0.136265,0.133720,0.131429,0.108122,0.082352,0.042193,1.0
2,0.118222,0.111605,0.126438,0.130732,0.125170,0.128390,0.108312,0.098447,0.052685,1.0
3,0.118494,0.112578,0.126075,0.136921,0.126746,0.135130,0.107338,0.085889,0.050830,1.0
4,0.082614,0.094828,0.100947,0.115750,0.149218,0.158235,0.123795,0.099714,0.074899,1.0
5,0.090568,0.101296,0.098762,0.126233,0.169790,0.150708,0.114227,0.085880,0.062536,1.0
6,0.097062,0.097287,0.123843,0.138059,0.130825,0.156222,0.114732,0.087764,0.054205,1.0
7,0.112403,0.113226,0.119597,0.129771,0.131017,0.137946,0.118199,0.081056,0.056785,1.0
8,0.115322,0.120776,0.112925,0.122730,0.127550,0.132290,0.118958,0.087749,0.061698,1.0
9,0.094062,0.094656,0.111923,0.129763,0.122259,0.160990,0.127043,0.089175,0.070130,1.0
10,0.102251,0.096465,0.120136,0.140876,0.134794,0.152592,0.112938,0.086889,0.053060,1.0

In [76]:
# IL age distribution
# actually here's IL age distribution by county according to US census:
# https://censusreporter.org/data/table/?table=B01001&geo_ids=04000US17,01000US,050|04000US17&primary_geo_id=04000US17

# for starters applying same distribution to each county, for sake of just running the model as soon as possible
# later (tomorrow) can get the by-county resolution for age distribution

ILAgeDistr = pd.read_csv("IL-Age-Distr/ageDistr.csv")

In [77]:
ILAgeDistr

,geoid,name,B01001001,"B01001001, Error",B01001002,"B01001002, Error",B01001003,"B01001003, Error",B01001004,"B01001004, Error",...,B01001045,"B01001045, Error",B01001046,"B01001046, Error",B01001047,"B01001047, Error",B01001048,"B01001048, Error",B01001049,"B01001049, Error"
0,01000US,United States,327167439,0,161118151,27812,10047966,20195,10095699,40077,...,5235949,29094,7242478,32243,5182697,27605,3577879,24398,4077755,23588
1,04000US17,Illinois,12741080,0,6266062,4378,390783,2204,384930,7153,...,191088,4734,273382,5736,196855,5609,141111,5049,172955,4146

In [78]:
# dangit, errors in the downloaded data ..

In [79]:
# for now, manual.. 
# source:
# https://censusreporter.org/profiles/04000US17-illinois/

ILAgeDistr = {
    "0-9": [.119],
    "10-19": [.131],
    "20-29": [.136],
    "30-39": [.135],
    "40-49": [.127],
    "50-59": [.132],
    "60-69": [.114],
    "70-79": [.067],
    "80+"  : [.039]
}

In [80]:
ourIFR

     CountyID  Population
0    84017001       65435
1    84017003        5761
2    84017005       16426
3    84017007       53544
4    84017009        6578
..        ...         ...
97   84017195       55175
98   84017197      690743
99   84017199       66597
100  84017201      282572
101  84017203       38459

[102 rows x 2 columns]

In [81]:
ageDist = pd.DataFrame(ILAgeDistr)
ageDist

     0-9  10-19  20-29  30-39  40-49  50-59  60-69  70-79    80+
0  0.119  0.131  0.136  0.135  0.127  0.132  0.114  0.067  0.039

In [82]:
import numpy as np

ourIFR[list(ageDist)] = pd.DataFrame(np.repeat(ageDist.values, len(ourIFR.index), axis=0))
ourIFR

,CountyID,Population,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,84017001,65435,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
1,84017003,5761,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
2,84017005,16426,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
3,84017007,53544,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
4,84017009,6578,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
...,...,...,...,...,...,...,...,...,...,...,...
97,84017195,55175,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
98,84017197,690743,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
99,84017199,66597,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
100,84017201,282572,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039
101,84017203,38459,0.119,0.131,0.136,0.135,0.127,0.132,0.114,0.067,0.039

In [83]:
# relFreq = ifr[["0-9", "Oct-19", "20-29", "30-39", "40-49", "50-59", "60-69", "70-79", "80+", "population"]].div(ifr["population"], axis=0)

strata = list(ILAgeDistr.keys())

ourIFR[strata] = ourIFR[strata].mul(ourIFR["Population"], axis=0)
ourIFR

,CountyID,Population,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,84017001,65435,7786.765,8571.985,8899.160,8833.725,8310.245,8637.420,7459.590,4384.145,2551.965
1,84017003,5761,685.559,754.691,783.496,777.735,731.647,760.452,656.754,385.987,224.679
2,84017005,16426,1954.694,2151.806,2233.936,2217.510,2086.102,2168.232,1872.564,1100.542,640.614
3,84017007,53544,6371.736,7014.264,7281.984,7228.440,6800.088,7067.808,6104.016,3587.448,2088.216
4,84017009,6578,782.782,861.718,894.608,888.030,835.406,868.296,749.892,440.726,256.542
...,...,...,...,...,...,...,...,...,...,...,...
97,84017195,55175,6565.825,7227.925,7503.800,7448.625,7007.225,7283.100,6289.950,3696.725,2151.825
98,84017197,690743,82198.417,90487.333,93941.048,93250.305,87724.361,91178.076,78744.702,46279.781,26938.977
99,84017199,66597,7925.043,8724.207,9057.192,8990.595,8457.819,8790.804,7592.058,4461.999,2597.283
100,84017201,282572,33626.068,37016.932,38429.792,38147.220,35886.644,37299.504,32213.208,18932.324,11020.308
101,84017203,38459,4576.621,5038.129,5230.424,5191.965,4884.293,5076.588,4384.326,2576.753,1499.901

In [84]:
# okay great, so now we have IL population by-county by-age-bracket
# NOTE: again recall that this is just the IL state-wide distribution applied to each county's population
# the by-county age distributions are available and can be easily worked in
# will just take a bit of data transforming/mapping etc.
# it's on the todo list

In [85]:
# next: add the "weighted_fatality" column
# right now the value for this column doesn't really matter
# so will do the simplest thing for now and extend later

# more or less arbitrary, gonna say 3% 

# look again at euro table
ifr.head()

,Unnamed: 0,"Region, subregion, country or area *",0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality,population,country
0,3345,Denmark,606.029,675.948,775.962,672.290,738.207,810.126,654.530,586.138,272.973,0.008792,5792.203,Denmark
1,3450,Norway,614.323,643.031,726.383,738.724,724.930,712.508,586.156,446.448,228.739,0.007924,5421.242,Norway
2,3465,Sweden,1193.951,1127.127,1276.930,1320.299,1264.123,1296.647,1093.868,994.244,532.081,0.008856,10099.270,Sweden
3,3480,United Kingdom,8044.056,7642.473,8558.707,9295.024,8604.251,9173.465,7286.777,5830.635,3450.616,0.009185,67886.004,United Kingdom
4,3570,Italy,4994.995,5733.448,6103.436,6998.434,9022.004,9567.192,7484.862,6028.908,4528.549,0.010893,60461.828,Italy

In [86]:
ourIFR["weighted_fatality"] = .03
ourIFR

,CountyID,Population,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality
0,84017001,65435,7786.765,8571.985,8899.160,8833.725,8310.245,8637.420,7459.590,4384.145,2551.965,0.03
1,84017003,5761,685.559,754.691,783.496,777.735,731.647,760.452,656.754,385.987,224.679,0.03
2,84017005,16426,1954.694,2151.806,2233.936,2217.510,2086.102,2168.232,1872.564,1100.542,640.614,0.03
3,84017007,53544,6371.736,7014.264,7281.984,7228.440,6800.088,7067.808,6104.016,3587.448,2088.216,0.03
4,84017009,6578,782.782,861.718,894.608,888.030,835.406,868.296,749.892,440.726,256.542,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...
97,84017195,55175,6565.825,7227.925,7503.800,7448.625,7007.225,7283.100,6289.950,3696.725,2151.825,0.03
98,84017197,690743,82198.417,90487.333,93941.048,93250.305,87724.361,91178.076,78744.702,46279.781,26938.977,0.03
99,84017199,66597,7925.043,8724.207,9057.192,8990.595,8457.819,8790.804,7592.058,4461.999,2597.283,0.03
100,84017201,282572,33626.068,37016.932,38429.792,38147.220,35886.644,37299.504,32213.208,18932.324,11020.308,0.03
101,84017203,38459,4576.621,5038.129,5230.424,5191.965,4884.293,5076.588,4384.326,2576.753,1499.901,0.03

In [87]:
# reorder columns
ourIFRColumnOrder = ["CountyID", "weighted_fatality", "Population"] + strata
ourIFR = ourIFR[ourIFRColumnOrder]
ourIFR

,CountyID,weighted_fatality,Population,0-9,10-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,84017001,0.03,65435,7786.765,8571.985,8899.160,8833.725,8310.245,8637.420,7459.590,4384.145,2551.965
1,84017003,0.03,5761,685.559,754.691,783.496,777.735,731.647,760.452,656.754,385.987,224.679
2,84017005,0.03,16426,1954.694,2151.806,2233.936,2217.510,2086.102,2168.232,1872.564,1100.542,640.614
3,84017007,0.03,53544,6371.736,7014.264,7281.984,7228.440,6800.088,7067.808,6104.016,3587.448,2088.216
4,84017009,0.03,6578,782.782,861.718,894.608,888.030,835.406,868.296,749.892,440.726,256.542
...,...,...,...,...,...,...,...,...,...,...,...,...
97,84017195,0.03,55175,6565.825,7227.925,7503.800,7448.625,7007.225,7283.100,6289.950,3696.725,2151.825
98,84017197,0.03,690743,82198.417,90487.333,93941.048,93250.305,87724.361,91178.076,78744.702,46279.781,26938.977
99,84017199,0.03,66597,7925.043,8724.207,9057.192,8990.595,8457.819,8790.804,7592.058,4461.999,2597.283
100,84017201,0.03,282572,33626.068,37016.932,38429.792,38147.220,35886.644,37299.504,32213.208,18932.324,11020.308
101,84017203,0.03,38459,4576.621,5038.129,5230.424,5191.965,4884.293,5076.588,4384.326,2576.753,1499.901

In [88]:
# save this
ourIFR.to_csv("ILWeightedFatality.csv")

In [89]:
# now map to euro table for input to model

mapILToEuroIFR = {
    "CountyID": "country",
    "10-19": "Oct-19", # extraordinarily painful to look at, but will be fixed soon enough
    "Population": "population"
}

ILInputIFR = ourIFR.copy()
ILInputIFR = ILInputIFR.rename(mapILToEuroIFR, axis=1)

ILInputIFR

,country,weighted_fatality,population,0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+
0,84017001,0.03,65435,7786.765,8571.985,8899.160,8833.725,8310.245,8637.420,7459.590,4384.145,2551.965
1,84017003,0.03,5761,685.559,754.691,783.496,777.735,731.647,760.452,656.754,385.987,224.679
2,84017005,0.03,16426,1954.694,2151.806,2233.936,2217.510,2086.102,2168.232,1872.564,1100.542,640.614
3,84017007,0.03,53544,6371.736,7014.264,7281.984,7228.440,6800.088,7067.808,6104.016,3587.448,2088.216
4,84017009,0.03,6578,782.782,861.718,894.608,888.030,835.406,868.296,749.892,440.726,256.542
...,...,...,...,...,...,...,...,...,...,...,...,...
97,84017195,0.03,55175,6565.825,7227.925,7503.800,7448.625,7007.225,7283.100,6289.950,3696.725,2151.825
98,84017197,0.03,690743,82198.417,90487.333,93941.048,93250.305,87724.361,91178.076,78744.702,46279.781,26938.977
99,84017199,0.03,66597,7925.043,8724.207,9057.192,8990.595,8457.819,8790.804,7592.058,4461.999,2597.283
100,84017201,0.03,282572,33626.068,37016.932,38429.792,38147.220,35886.644,37299.504,32213.208,18932.324,11020.308
101,84017203,0.03,38459,4576.621,5038.129,5230.424,5191.965,4884.293,5076.588,4384.326,2576.753,1499.901

In [90]:
set(list(ifr)).difference(set(list(ILInputIFR)))

{'Region, subregion, country or area *', 'Unnamed: 0'}

In [91]:
# fill placeholder values for redundant columns, to match their df exactly ..
ILInputIFR["Region, subregion, country or area *"] = ILInputIFR["country"]
ILInputIFR["Unnamed: 0"] = ILInputIFR.index

# reorder to match their order
ILInputIFR = ILInputIFR[list(ifr)]

ILInputIFR

,Unnamed: 0,"Region, subregion, country or area *",0-9,Oct-19,20-29,30-39,40-49,50-59,60-69,70-79,80+,weighted_fatality,population,country
0,0,84017001,7786.765,8571.985,8899.160,8833.725,8310.245,8637.420,7459.590,4384.145,2551.965,0.03,65435,84017001
1,1,84017003,685.559,754.691,783.496,777.735,731.647,760.452,656.754,385.987,224.679,0.03,5761,84017003
2,2,84017005,1954.694,2151.806,2233.936,2217.510,2086.102,2168.232,1872.564,1100.542,640.614,0.03,16426,84017005
3,3,84017007,6371.736,7014.264,7281.984,7228.440,6800.088,7067.808,6104.016,3587.448,2088.216,0.03,53544,84017007
4,4,84017009,782.782,861.718,894.608,888.030,835.406,868.296,749.892,440.726,256.542,0.03,6578,84017009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,97,84017195,6565.825,7227.925,7503.800,7448.625,7007.225,7283.100,6289.950,3696.725,2151.825,0.03,55175,84017195
98,98,84017197,82198.417,90487.333,93941.048,93250.305,87724.361,91178.076,78744.702,46279.781,26938.977,0.03,690743,84017197
99,99,84017199,7925.043,8724.207,9057.192,8990.595,8457.819,8790.804,7592.058,4461.999,2597.283,0.03,66597,84017199
100,100,84017201,33626.068,37016.932,38429.792,38147.220,35886.644,37299.504,32213.208,18932.324,11020.308,0.03,282572,84017201
101,101,84017203,4576.621,5038.129,5230.424,5191.965,4884.293,5076.588,4384.326,2576.753,1499.901,0.03,38459,84017203

In [92]:
# save this
ILInputIFR.to_csv("ILWeightedFatalityInput.csv")

In [93]:
exp = df.copy()
exp

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,1/22/20,22,1,20,0.0,0.0,Adams,Adams,84017001,65435
1,1/22/20,22,1,20,0.0,0.0,Alexander,Alexander,84017003,5761
2,1/22/20,22,1,20,0.0,0.0,Bond,Bond,84017005,16426
3,1/22/20,22,1,20,0.0,0.0,Boone,Boone,84017007,53544
4,1/22/20,22,1,20,0.0,0.0,Brown,Brown,84017009,6578
...,...,...,...,...,...,...,...,...,...,...
14033,6/4/20,4,6,20,3.0,0.0,Whiteside,Whiteside,84017195,55175
14034,6/4/20,4,6,20,38.0,2.0,Will,Will,84017197,690743
14035,6/4/20,4,6,20,3.0,1.0,Williamson,Williamson,84017199,66597
14036,6/4/20,4,6,20,43.0,4.0,Winnebago,Winnebago,84017201,282572
14037,6/4/20,4,6,20,0.0,0.0,Woodford,Woodford,84017203,38459

In [94]:
# drop counties with fewer than 10 deaths or 5 cases

# df.groupby(["id", "year"])["value"].sum()
tmp1 = exp.groupby(["countryterritoryCode"])[["cases", "deaths"]].sum()
tmp1

                       cases  deaths
countryterritoryCode
84017001                45.0     1.0
84017003                12.0     0.0
84017005                12.0     1.0
84017007               488.0    17.0
84017009                11.0     0.0
...                      ...     ...
84017195               147.0    13.0
84017197              5742.0   284.0
84017199                74.0     3.0
84017201              2397.0    61.0
84017203                21.0     2.0

[102 rows x 2 columns]

In [95]:
tmp2 = tmp1.loc[(tmp1["cases"] < 5) | (tmp1["deaths"] < 10)]
tmp2

                      cases  deaths
countryterritoryCode
84017001               45.0     1.0
84017003               12.0     0.0
84017005               12.0     1.0
84017009               11.0     0.0
84017011               17.0     1.0
...                     ...     ...
84017189               19.0     0.0
84017191               11.0     1.0
84017193                2.0     0.0
84017199               74.0     3.0
84017203               21.0     2.0

[76 rows x 2 columns]

In [96]:
dropThese = list(tmp2.index)
dropThese

[84017001,
 84017003,
 84017005,
 84017009,
 84017011,
 84017013,
 84017015,
 84017017,
 84017019,
 84017021,
 84017023,
 84017025,
 84017033,
 84017035,
 84017037,
 84017039,
 84017041,
 84017045,
 84017047,
 84017049,
 84017051,
 84017053,
 84017055,
 84017057,
 84017059,
 84017061,
 84017063,
 84017065,
 84017067,
 84017069,
 84017071,
 84017073,
 84017075,
 84017079,
 84017083,
 84017085,
 84017087,
 84017095,
 84017101,
 84017103,
 84017105,
 84017107,
 84017117,
 84017121,
 84017123,
 84017125,
 84017127,
 84017129,
 84017131,
 84017135,
 84017137,
 84017139,
 84017141,
 84017145,
 84017147,
 84017149,
 84017151,
 84017153,
 84017155,
 84017157,
 84017159,
 84017165,
 84017169,
 84017171,
 84017173,
 84017175,
 84017177,
 84017179,
 84017183,
 84017185,
 84017187,
 84017189,
 84017191,
 84017193,
 84017199,
 84017203]

In [97]:
exp

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,1/22/20,22,1,20,0.0,0.0,Adams,Adams,84017001,65435
1,1/22/20,22,1,20,0.0,0.0,Alexander,Alexander,84017003,5761
2,1/22/20,22,1,20,0.0,0.0,Bond,Bond,84017005,16426
3,1/22/20,22,1,20,0.0,0.0,Boone,Boone,84017007,53544
4,1/22/20,22,1,20,0.0,0.0,Brown,Brown,84017009,6578
...,...,...,...,...,...,...,...,...,...,...
14033,6/4/20,4,6,20,3.0,0.0,Whiteside,Whiteside,84017195,55175
14034,6/4/20,4,6,20,38.0,2.0,Will,Will,84017197,690743
14035,6/4/20,4,6,20,3.0,1.0,Williamson,Williamson,84017199,66597
14036,6/4/20,4,6,20,43.0,4.0,Winnebago,Winnebago,84017201,282572
14037,6/4/20,4,6,20,0.0,0.0,Woodford,Woodford,84017203,38459

In [98]:
# df = df.drop(df[df.score < 50].index)
tmp3 = exp.drop(exp[exp["countryterritoryCode"].isin(dropThese)].index)
tmp3

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
3,1/22/20,22,1,20,0.0,0.0,Boone,Boone,84017007,53544
13,1/22/20,22,1,20,0.0,0.0,Clinton,Clinton,84017027,37562
14,1/22/20,22,1,20,0.0,0.0,Coles,Coles,84017029,50621
15,1/22/20,22,1,20,0.0,0.0,Cook,Cook,84017031,5150233
21,1/22/20,22,1,20,0.0,0.0,DuPage,DuPage,84017043,922921
...,...,...,...,...,...,...,...,...,...,...
14019,6/4/20,4,6,20,6.0,0.0,Sangamon,Sangamon,84017167,194672
14026,6/4/20,4,6,20,3.0,1.0,Union,Union,84017181,16653
14033,6/4/20,4,6,20,3.0,0.0,Whiteside,Whiteside,84017195,55175
14034,6/4/20,4,6,20,38.0,2.0,Will,Will,84017197,690743
14036,6/4/20,4,6,20,43.0,4.0,Winnebago,Winnebago,84017201,282572

In [99]:
# double check
check = tmp3.groupby(["countryterritoryCode"])[["cases", "deaths"]].sum()
check

                        cases  deaths
countryterritoryCode
84017007                488.0    17.0
84017027                189.0    17.0
84017029                129.0    17.0
84017031              80713.0  3846.0
84017043               7939.0   392.0
84017077                296.0    10.0
84017081                101.0    17.0
84017089               6581.0   197.0
84017091                975.0    53.0
84017093                833.0    19.0
84017097               8584.0   330.0
84017099                159.0    16.0
84017109                 94.0    13.0
84017111               1660.0    78.0
84017113                224.0    13.0
84017115                199.0    20.0
84017119                612.0    65.0
84017133                 98.0    12.0
84017143                286.0    11.0
84017161                694.0    24.0
84017163               1227.0    91.0
84017167                359.0    29.0
84017181                171.0    14.0
84017195                147.0    13.0
84017197               5742.0   284.0
84017201               2397.0    61.0

In [100]:
check2 = check.loc[(check["cases"] < 5) | (check["deaths"] < 10)]
check2

# checks out

Empty DataFrame
Columns: [cases, deaths]
Index: []